/*body{
  background-color: yellow;

}
/*/

.square{
  background-color: black;
  color: white;
  width: 300px;
  height: 300px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  /*
  animation-name: bounce;
  animation-duration: 3s;
  animation-iteration-count: 6;
  /*/
}


@keyframes bounce {
0% {
  transform: scale(1);
  position: relative;
  top: 0;
  }
40% {
    transform: scale(1.8);
    position: relative;
    top: 600px;
    }
80% {
    transform: scale(0.6);
    position: relative;
    top: 300px;
  }
0% {
    transform: scale(1);
    position: relative;
    top: 0;
    }
}
.crane{
  min-height: 98vh;
  display: flex;
  flex-wrap:wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url('images/wolf_1.jpg') top center no-repeat;
  background-size:contain;
  background-attachment: fixed;
  border-bottom: 5px solid white;
}
.ass{
  min-height: 98vh;
  display: flex;
  flex-wrap:wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url('images/ass_1.jpg') top center no-repeat;
  background-size:contain;
  background-attachment: fixed;
  border-top: 5px solid white;
}

h2{
      background-color: rgba(225, 225, 225, 1);
      border-bottom: 1em solid rgba(225, 225, 225, 1);
      border-top: 1em solid rgba(225, 225, 225, 1);
      border-left: 2em solid rgba(225, 225, 225, 1);
      border-right: 2em solid rgba(225, 225, 225, 1);
      border-radius: 10%;

}
p{
  background-color: rgba(255, 255, 255, 0.75);
  border-left: black solid;
  border-right: black solid;
  padding:2em;
  border-spacing: inherit;
}

/*
  display: flex;
flex-wrap:wrap;
text-align: center;
justify-content: center;
align-items: center;
display: flex;
